{% extends 'base.html'%} {% import 'macros.html' as macro%} {% block styles%} {{
super() }}
<link
  href="https://fonts.googleapis.com/css2?family=Aladin&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %} {% block content %}
<div class="container">
  <div class="row pt-3">
    <h3 style="font-size: 40px; color:honeydew; text-align:center"><strong>BUSINESS NEWS</strong></h3>
    <div class="row">{{ macro.displayNewsSources(business_sources)}}</div>
  </div>
  <div class="row pt-3">
    <h3 style="font-size: 40px; color:honeydew; text-align:center"><strong>SPORTS NEWS</strong></h3>
    <div class="row">{{ macro.displayNewsSources(sports_sources)}}</div>
  </div>
  <div class="row pt-3">
    <h3 style="font-size: 40px; color:honeydew; text-align:center"><strong>TECHNOLOGY NEWS</strong></h3>
    <div class="row">{{ macro.displayNewsSources(technology_sources)}}</div>
  </div>
  <div class="row pt-3">
    <h3 style="font-size: 40px; color:honeydew; text-align:center"><strong>ENTERTAINMENT NEWS</strong></h3>
    <div class="row">{{ macro.displayNewsSources(entertainment_sources)}}</div>
  </div> 
</div>
{% endblock%}
<!--- Footer block -->
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
