{% extends 'base.html'%} {% block content%} 
<div class="container">
  <h3><strong>NEWS ARTICLES</strong></h3>
  {% for article_row in articles | batch(4)%}
  <div class="row">
    {% for article in article_row %}
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          src="{{article.pathToImage}}"
          class="card-img-top"
          style="height: 18vh"
          alt="..."
        />
        <div
          class="card-body mt-5"
          style="background-color: rgb(241, 200, 163)"
        >
          <h5 class="card-title"><b>{{article.title}}</b></h5>
          <p class="card-text">{{article.description | truncate(250)}}</p>
          <a href="{{article.url}}" class="btn btn-primary">Read Article</a>
        </div>
        <div class="card-footer">
          <small> {{article.datePublished}} </small>
        </div>
      </div>
      <br />
      <br />
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{%endblock%}
